
<div class="box">
    <div class="content">
        <img class="picture" src="assets/profile/profile.png" />
        <span class="name">John Doe</span>
    </div>
    <div class="nav">
        <i class="fa-solid fa-chevron-up"></i>
        <i class="fa-solid fa-chevron-down"></i>
    </div>
</div>
<div class="line"></div>
<h3>Menu</h3>
<mat-list>
    <mat-list-item class="list-hover">
        <i class="fa-solid fa-house"></i>
        <span class="list-name">Overview</span>
    </mat-list-item>
    <mat-list-item class="list-hover">
        <i class="fa-solid fa-list"></i>
        <span class="list-name">Transactions</span>
    </mat-list-item>
    <mat-list-item class="list-hover">
        <i class="fa-solid fa-chart-simple"></i>
        <span class="list-name">Analytics</span>
    </mat-list-item>
    <mat-list-item class="list-hover">
        <i class="fa-regular fa-credit-card"></i>
        <span class="list-name">Cards</span>
    </mat-list-item>
</mat-list>
<div class="line"></div>
<h3>General</h3>
<mat-list>
    <mat-list-item class="list-hover">
        <i class="fa-solid fa-gear"></i>
        <span class="list-name">Settings</span>
    </mat-list-item>
    <mat-list-item class="list-hover">
        <i class="fa-regular fa-circle-question"></i>
        <span class="list-name">Help/Support</span>
    </mat-list-item>
    <mat-list-item class="list-hover">
        <i class="fa-solid fa-moon"></i>
        <span class="list-name">Dark Mode</span>
    </mat-list-item>
</mat-list>
<div class="line"></div>
<div class="payment">
    <button><i class="fa-solid fa-circle-plus fa-lg"></i></button>
    <span> New Payment </span>
</div> 