<mat-toolbar>
    <mat-toolbar-row>
        <div class="content-overview">
            <span class="overview">Overview</span>
            <span class="search">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input class="input" type="text" matInput placeholder="Search anything here">
            </span>
            <span class="notification">
                <span class="icon"><i class="fa-regular fa-envelope" matBadge="4" matBadgeSize="small" ></i></span>
                <span class="icon"><i class="fa-regular fa-bell" matBadge="4" matBadgeSize="small"></i></span>
            </span>
        </div>
    </mat-toolbar-row>
</mat-toolbar>