<div class="container">
    <div class="dashboard">
        <div class="dashboard-left">
            <app-card-detail></app-card-detail>
        </div>
        <div class="dashboard-right">
            <div class="dashboard-right-column">
                <div class="dashboard-right-content">
                    <app-total-balance></app-total-balance>
                </div>
                <div class="dashboard-right-content">
                    <app-money-statistics></app-money-statistics>
                </div>
                <div class="dashboard-right-content">
                    <app-transaction-history></app-transaction-history>
                </div>
            </div>
        </div>
    </div>

</div>